<%= render "shared/category_header" %>
   <div class="category-contents">
      <div class="category-search">
       <%= form_with(url: search_items_path, local: true, method: :get, class: "search-form") do |form| %>
      <div class="form">
        <%= form.collection_select(:category_id, Category.all, :id, :category, { include_blank: 'カテゴリー選択'}, {class:"category-box", id:"item-category"}) %>
     </div>
       <%= form.submit "検索",category_id: :nil, class: "search-btn" %> <%=link_to 'もどる', categories_path, class:"btn" %>
    <% end %>
 </div>
</div>
      <ul class='category-item-lists'>
        <% if @items != nil %>
        <% @items.each do |item| %>
       <%= render partial: "items/item", locals: { item: item }  %>
        <% end %>
        <% end %>
     </ul>
  </div>
  </div>
<%= render "shared/footer_item_search" %>
