<%= form_with model: @check, local: true do |f| %>
  <div class="article-box">
    チェックリストを登録する
    <%= f.text_field :title, class:"title", placeholder:"タイトルを入力" %>
    
    <%= f.label :title,'MY ITEM'%>
    <%= f.collection_check_boxes(:check_item_id, Item.all, :title, :title,{multiple: true,include_hidden: false,class:"select-box", id:"item-category"}) %>
    
    <%= f.label :name,'テンプレートから追加'%>
    <%= f.collection_check_boxes(:check_list_id, List.all, :name, :name,{multiple: true,include_hidden: false,class:"select-box", id:"item-category"}) %>
    </label>
    <%= f.submit "変更" ,class:"btn" %>
  </div>
<% end %>