<%= render "shared/check_new" %>
    <div class="checks-contents">
        <div class="checks-main">
           <%= form_with(model: @check,local: true)  do |f| %>
              <%= render 'shared/error_messages', model: f.object %>
              <div class="">
                   <h2>チェックリストを登録する</h2><br>
                        <%= f.text_field :title, class:"bold", placeholder:"タイトルを入力" %><br><br><br><br>
                    <h2>　MY ITEM</h2><br>
                        <div class=checkbox-list>
                          <h3> <%= f.collection_check_boxes(:check_item_id, Item.all, :title, :title,{multiple: true,include_hidden: false,class:"", id:"item-category"}) %></h3>
                        </div><br><br>
                    <h2>　テンプレートから追加</h2><br>
                        <div class=checkbox-list>
                             <h3><%= f.collection_check_boxes(:check_list_id, List.all, :name, :name,{multiple: true,include_hidden: false,class:"", id:"item-category"}) %></h3>
                             </div><br><br>
                        <div class="check-btn-contents">
                              <%= f.submit "登録" ,class:"check-btn" %><br>
                              <h1><%=link_to 'もどる', checks_path, class:"back-btn" %></h1>
                       </div>
            <% end %>
        </div>   
     </div>
