<%= render "shared/category_header" %>

     <div class="items-sell-contens">
  
        <div class="items-sell-ma">
            <%= form_with(url: search_items_path, local: true, method: :get, class: "search-form") do |form| %>
    
                <div class="form">
                  <%= form.collection_select(:category_id, Category.all, :id, :category, { include_blank: 'カテゴリー選択'}, {class:"select-box", id:"item-category"}) %>
                </div>
            <%= form.submit "検索", class: "search-btn" %>
            <% end %>
        </div>

     </div>


    <ul class='item-lists'>

          <% if @item != nil %>
            <% @items.each do |item| %>
              <%= render partial: "items/item", locals: { item: item }  %>
            <% end %>
          <% end %>
    </ul>
    
<%= render "shared/footer_category" %>