  <%= form_with( model: @plan, local: true) do |f| %>


     <div class="plans-explain">
         <div class="plans-bold-text">
            スケジュール
        </div>
          <%= f.collection_select(:skt_a, Schedule.all, :time, :time,{ include_blank: '選択してください'}, {class:"plan-select-box", id:"item-category"}) %>
         
        <div class="plans-explain">
            <div class="plans-bold-text">
              内容
          </div>
            <%= f.text_area :skm_a, class:"plans-text", id:"plan-info", placeholder:"到着、昼食、休憩、移動、帰宅"  ,maxlength:"40" %>
        </div>
     </div>  


          <div class="plans-explain">
            <div class="plans-bold-text">
              スケジュール
            </div>
            <%= f.collection_select(:skt_b, Schedule.all, :time, :time,{ include_blank: '選択してください'}, {class:"plan-select-box", id:"item-category"}) %>
         
         <div class="plans-explain">
          <div class="plans-bold-text">
            内容
          </div>
          <%= f.text_area :skm_b, class:"plans-text", id:"plan-info", placeholder:"到着、昼食、休憩、移動、帰宅"  ,maxlength:"40" %>
        </div>
   </div> 
   

   <div class="plans-explain">
    <div class="plans-bold-text">
              スケジュール
            </div>
            <%= f.collection_select(:skt_c, Schedule.all, :time, :time,{ include_blank: '選択してください'}, {class:"plan-select-box", id:"item-category"}) %>
         
      <div class="plans-explain">
          <div class="plans-bold-text">
            内容
          </div>
        <%= f.text_area :skm_c, class:"plans-text", id:"plan-info", placeholder:"到着、昼食、休憩、移動、帰宅"  ,maxlength:"40" %>
      </div>
  </div>  
  

  <div class="plans-explain">
    <div class="plans-bold-text">
              スケジュール
            </div>
            <%= f.collection_select(:skt_d, Schedule.all, :time, :time,{ include_blank: '選択してください'}, {class:"plan-select-box", id:"item-category"}) %>
         
      <div class="plans-explain">
          <div class="plans-bold-text">
            内容
          </div>
        <%= f.text_area :skm_d, class:"plans-text", id:"plan-info", placeholder:"到着、昼食、休憩、移動、帰宅"  ,maxlength:"40" %>
      </div>
  </div>  
  

  <div class="plans-explain">
    <div class="plans-bold-text">
              スケジュール
            </div>
            <%= f.collection_select(:skt_e, Schedule.all, :time, :time,{ include_blank: '選択してください'}, {class:"plan-select-box", id:"item-category"}) %>
         
      <div class="plans-explain">
          <div class="plans-bold-text">
            内容
          </div>
        <%= f.text_area :skm_e, class:"plans-text", id:"plan-info", placeholder:"到着、昼食、休憩、移動、帰宅"  ,maxlength:"40" %>
      </div>
  </div> 
  

  <div class="plans-explain">
    <div class="plans-bold-text">
              スケジュール
            </div>
            <%= f.collection_select(:skt_f, Schedule.all, :time, :time,{ include_blank: '選択してください'}, {class:"plan-select-box", id:"item-category"}) %>
         
      <div class="plans-explain">
          <div class="plans-bold-text">
            内容
          </div>
        <%= f.text_area :skm_f, class:"plans-text", id:"plan-info", placeholder:"到着、昼食、休憩、移動、帰宅"  ,maxlength:"40" %>
      </div>
  </div>  
  

  <div class="plans-explain">
    <div class="plans-bold-text">
              スケジュール
            </div>
            <%= f.collection_select(:skt_g, Schedule.all, :time, :time,{ include_blank: '選択してください'}, {class:"plan-select-box", id:"item-category"}) %>
         
      <div class="plans-explain">
          <div class="plans-bold-text">
            内容
          </div>
        <%= f.text_area :skm_g, class:"plans-text", id:"plan-info", placeholder:"到着、昼食、休憩、移動、帰宅"  ,maxlength:"40" %>
      </div>
  </div> 
  

  <div class="plans-explain">
    <div class="plans-bold-text">
              スケジュール
            </div>
            <%= f.collection_select(:skt_h, Schedule.all, :time, :time,{ include_blank: '選択してください'}, {class:"plan-select-box", id:"item-category"}) %>
         
      <div class="plans-explain">
          <div class="plans-bold-text">
            内容
          </div>
        <%= f.text_area :skm_h, class:"plans-text", id:"plan-info", placeholder:"到着、昼食、休憩、移動、帰宅"  ,maxlength:"40" %>
      </div>
  </div>  
  

  <div class="plans-explain">
    <div class="plans-bold-text">
              スケジュール
            </div>
            <%= f.collection_select(:skt_i, Schedule.all, :time, :time,{ include_blank: '選択してください'}, {class:"plan-select-box", id:"item-category"}) %>
         
      <div class="plans-explain">
          <div class="plans-bold-text">
            内容
          </div>
        <%= f.text_area :skm_i, class:"plans-text", id:"plan-info", placeholder:"到着、昼食、休憩、移動、帰宅"  ,maxlength:"40" %>
      </div>
  </div>  
  

  <div class="plans-explain">
    <div class="plans-bold-text">
              スケジュール
            </div>
            <%= f.collection_select(:skt_j, Schedule.all, :time, :time,{ include_blank: '選択してください'}, {class:"plan-select-box", id:"item-category"}) %>
         
      <div class="plans-explain">
          <div class="plans-bold-text">
            内容
          </div>
        <%= f.text_area :skm_j, class:"plans-text", id:"plan-info", placeholder:"到着、昼食、休憩、移動、帰宅"  ,maxlength:"40" %>
   </div>
  </div>


   

      <% end %>