<%= render "shared/plan_new_header" %>

<div class="plans-contents">
  
  <div class="plans-main">
    <h2 class="plans-title">プランの内容を入力</h2>
    
    <%= form_with( model: @plan, local: true) do |f| %>

      <%= render 'shared/error_messages', model: f.object %> 


       <%# カバー画像 %>
        <div class="img-upload">
            <div class="plans-bold-text">
              カバー画像
            </div>
            <div class="click-upload">
            <p> クリックしてファイルをアップロード</p>
            <%= f.file_field :image, id:"item-image" %>
          </div>
        </div>
          <%# /カバー画像 %>

    <%# 予定内容 %>
    <div class="new-items">

          <div class="plans-bold-text">
             タイトル
          </div>
         <%= f.text_area :title, class:"plans-text", id:"plan-name", placeholder:"タイトルを入力", maxlength:"40" %>
          
        
    <div class="form">

            <div class="plans-explain">
                <div class="plans-bold-text">
                  場所
                </div>
                <%= f.text_area :place, class:"plans-text", id:"plan-info", placeholder:"○○海岸、××海水浴場、□□漁港"  ,maxlength:"40" %>
            </div>

            <div class="plans-explain">
                <div class="plans-bold-text">
                  住所
                </div>
                <%= f.text_area :address, class:"plans-text", id:"plan-info", placeholder:"住所を入力"  ,maxlength:"40" %>
            </div>


    <div class="plans-explain">
         <div class="plans-bold-text">
           開始日
        </div>
        <div class='input-birth-wrap'>
         <%= raw sprintf(f.date_select(:start_at,class:'select-birth',
                    id:"birth-date",use_month_numbers: true,
                    prompt:'--',start_year: 2021,end_year: (Time.now.year),
                    date_separator: '%s'),"<p> 年 </p>", "<p> 月 </p>") + "<p> 日 </p>" %>
        </div>


          <div class="plans-bold-text">
                終了日
          </div>
          <div class='input-birth-wrap'>
            <%= raw sprintf(f.date_select(:end_at,class:'select-birth',
                        id:"birth-date",use_month_numbers: true,
                        prompt:'--',start_year: 2021,end_year: (Time.now.year),
                        date_separator: '%s'),"<p> 年 </p>", "<p> 月 </p>") + "<p> 日 </p>" %>
          </div>

          <div class="plans-explain">
            <div class="plans-bold-text">
              メモ
            </div>
            <%= f.text_area :memo , class:"plans-text", id:"plan-info", placeholder:"干潮6:30、満潮13:00、大潮、最寄りにコンビニあり" ,maxlength:"40" %>
          </div>
       </div>
     </div>
   <%# /予定内容 %>
      


    
    
    <%# 下部ボタン %>
    <div class="plan-btn-contents">
      <%= f.submit "保存" ,class:"plan-btn" %>
       <%=link_to 'もどる', plans_path, class:"back-btn" %> 
    </div>
    <%# /下部ボタン %>
  </div>
  <% end %>

  
</div>